<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="split-container">
            <div class="left-half"></div>
            <div class="right-half"></div>
        </div>
    <div class="home-container">
        
        <h1>Welcome, <%= user.username %>!</h1>
        <p>You have successfully logged in.</p>
        <form action="/logout" method="POST">
            <button type="submit">Sign Out</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
    <script src="/js/homePage.js"></script>
</body>
</html>