<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    

</head>
<body>
    <div class="main-container flex w-[1000px] h-[480px] bg-[#d93025]">
        <div class="left bg-slate-950 flex justify-center items-center">
            <h1 class="text-white text-[2.5rem] font-bold textW">WELCOME BACK!</h1>
        </div>

         <div class="login-container">
        <h1>User Login</h1>
        <form action="/login" method="POST" id="form">
            <div class="form-group">
                <!-- <label for="username">Username</label> -->
                <input class="w-[20rem] bg-slate-100 h-[2.5rem] rounded-xl" type="text" id="username" name="username"  placeholder="Username">
            </div>
            <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input class="w-[20rem]  bg-slate-100 h-[2.5rem] rounded-xl" type="password" id="password" name="password"  placeholder="Password">
            </div>
            <button type="submit">Login</button>
      
                  <div class="error testing">
        <% if (typeof error !== 'undefined' &&error) { %>
            <%= error %>
        <% } %>
          

            </div>
     
         </div>
       
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
    <script src="/js/loginPage.js"></script>
</body>
</html>